---
layout: default
---
<div class="content content{% if page.photo_url %} photo-post{% endif %}">
  <section>
  <div class="post single">
    {% unless page.photo_url %}
    <h1>{{ page.title }}</h1>
    <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%b %d, %Y" }}
    </info>
    {% endunless %}
    <div class="body">{{ content }}</div>
    <!-- <div class="breaker"></div> -->
    <div class="breaker"></div>
    <!-- <info class="after">
<div class="fb-like" data-href="http://rsms.me{{ page.url }}" data-send="false" data-width="550" data-show-faces="false" data-font="arial"></div>
    </info> -->

  {% if page.disqus_comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      window.disqus_identifier = {% if page.tumblr_id %}"{{ page.tumblr_id }}"{% else %}"{{ page.id }}"{% endif %};
    </script>
    <script async src="http://hunch.disqus.com/embed.js"></script>
    <noscript>Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript=hunch">comments powered by Disqus.</a>
    </noscript>
    {% include disqus.html %}
  {% endif %}
  </div>
  </section>
</div>
{% include autoreload-in-debug.html %}
